*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #35424a;
    border-bottom: 2px solid #a9508b;
    color: white;
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 40px;    
    font-weight: 400;
    line-height: 1.5;    
}
h1{
    margin-left: 30px;
    font-size: 25px;
}

.main{
    background-image: url(./images/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#prof{
    font-size: 2.6rem;
    color: white;
    padding-bottom: 1.8rem;
}
#main_p{
    color: white;
}
.subs{
    display: flex;
    justify-content: space-between;
    background-color: #35424a;
    padding: 25px 10px;
    padding-left: 0px;
    color: white;
    
}
#submit{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
#email{
    width: 230px;
    
}
#btn{
    font-size: 12px;
    line-height: 18px;
    padding: 6px 17px;
    border: none;
    background-color: #E44D27;
    color: white;
}
.logos{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    margin-left: 5%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.logos img{
    width: 100px;
    margin: 20px 0px;    
}

h3{
    font-size: 18px;
    padding: 20px;
}
#cont{
    font-size: 15px;
    text-align: center;
    padding: 0px 40px;
}
#footer{
    padding: 40px;
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    border-top: 3px solid #35424a;
    font-size: 13px;
}
.main-about{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    margin: 30px 40px;
    font-size: 15px;
    line-height: 1.5;   
}
.cont2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #35424a;
    color: #ffffff;
    padding: 15px;
    margin-left: 50px;
}
.cont3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #35424a;
    color: #ffffff;
    padding: 15px 15px 0px;
    margin-top: 20px;
    height: auto;
}
.bos{
    height: 300px;
}
#about-h3{
    padding: 0px;
}
.services{
    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-rows: auto;
    margin: 5px 40px;
    font-size: 15px;
    line-height: 1.5;
    row-gap: 5px;
    column-gap: 5%;    
}
.content4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    
}
.content5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.content6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.content7{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.content8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #35424a;
    color: #ffffff;
    padding: 15px;
    height: 300px;

}
.content5,
.content6,
.content7{
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    padding: 30px 20px; 
}
.content7{
    margin-bottom: 87px;
}

.quote input,
.quote textarea{
    border: 2px inset #767676;
    padding: 5px;
    font-size: 13.33px;
    width: 100%;
}
.quote button{
    width: 70px;
    height: 38px;
    background-color: #E44D27;
    color: #ffffff;
    border: 2px solid #35424a;
}
#ser-h3{
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
